h1{
    color: #060606;
    text-align:center;
    font-size: 4em;
    background: url("fish\ -dish.jpg");
    border: 2px solid black;
    border-radius: 5px;
    text-shadow: 0 0 5px white;
}
img{
    width:100%;
    border-radius:5px;
}