h1{
    color: #060606;
    text-align:center;
    font-size: 4em;
    background: url("fish\ -dish.jpg");
    border: 2px solid black;
    border-radius: 5px;
    text-shadow: 0 0 5px white;
}

div a{
    display:flex;
    width:100%;
    justify-content:end;
}
div.dish{
    border-radius:100%; /*this is for the circle shape*/
    width:300px;
    height:300px;
    border: 2px solid black;
    background:url("steamed-fish-00335.jpg") ;
    background-size:cover ;
    float:left;
    /*this goes hand in hand with float*/
    shape-outside: circle(50%);
    shape-margin: 1px;
}
div p::first-letter{
    font-size: larger;
    font-weight: bold;
    text-transform: capitalize;
}
ol{
    float:both;}